  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="index.html" data-i18n-attr="aria-label:nav.brandAriaLabel" aria-label="Sercon Gestoría - Inicio">
        <img src="img/main-logo2.png" alt="Sercon Gestoría Logo" style="height: 60px; width: auto; max-width: 180px;">
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" data-i18n-attr="aria-label:nav.toggleAriaLabel" aria-label="Toggle navigation" style="z-index: 1050; position: relative;">
        <span class="navbar-toggler-icon">
          <i class="fas fa-bars"></i>
        </span>
        <span class="sr-only" data-i18n="nav.menu">Menu</span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html" data-i18n="nav.inicio">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html" data-i18n="nav.empresa">Empresa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="fiscal.html" data-i18n="nav.fiscal">Fiscal y Contable</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="laboral.html" data-i18n="nav.laboral">Laboral</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="legal.html" data-i18n="nav.legal">Legal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="sucesiones.html" data-i18n="nav.sucesiones">Sucesiones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html" data-i18n="nav.contacto">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

